* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 90%;
    margin: 0 auto;
    border: 1px dashed black;
    
}

header {
    margin: 1.968503937007874%;
    border: 1px dashed black;
}

header img {
    width: 20%;
}



h1 {
    width: 19.6850393701%;
    position: relative;
    left: 20.9973753281%;
    bottom: 43px;
}

nav {
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black;
}

nav li {
    display: inline;
    margin: 1.968503937007874%;
}

main {
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black;
}


#erdia {
    border: 1px dashed black;
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
}
section {
   
    border: 1px dashed black;
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    margin-top:0.9%
}
#ezkerra {
    
    border: 1px dashed black;
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    max-height: fit-content;
}

#eskuina{
      
    border: 1px dashed black;
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    max-height: fit-content;
}

aside div, main section div {
    flex: 1 1 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

aside img, main section img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

h3 {
    margin-right: 100%;
}


footer{
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.968503937007874%;
}
@media (min-width:762px){
    main{
        grid-template-columns: repeat(6,1fr);
    }
    #ezkerra{
        grid-column:1/3;
    }
    section{
        grid-column: 3/7;
    }
    #eskuina{
        grid-column: 7/8
    }    
}
@media (min-width: 762px) {
    main{
        grid-template-columns: repeat(6,1fr);
    }
    #ezkerra{
        grid-column:1/3;
    }
    section{
        grid-column: 3/8;
    }
    #eskuina{
        grid-column: 1/8
    }
}

@media (max-width: 381px) {
    
    #ezkerra{
        grid-column:1/7;
    }
    section{
        grid-column: 1/7;
    }
    #eskuina{
        grid-column: 1/7;
    }
}



