* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 762px;
    margin: 0 auto;
    border: 1px dashed black;
}

header {
    margin: 1.968503937007874%;
    border: 1px dashed black;
}

header img {
    width: 20%;
}



h1 {
    width: 19.6850393701%;
    position: relative;
    left: 20.9973753281%;
    bottom: 43px;
}

nav {
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black
}

nav li {
    display: inline;
    margin: 1.968503937007874%;
}

main {
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1PX dashed black;
}
footer{
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black;
    
    
}
section img{
    width: 50%;
}


div{
    border: 1px dashed black;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 1.968503937007874%;    
}



#div1 { grid-column: 1 / 3;
        grid-row: 1/1 ; }
#div2 { grid-column: 3 / 4;
        grid-row: 1/1 ; }
#div3 { grid-column: 4 / 6;
        grid-row: 1/1 ; }

#div4 { grid-column: 1 / 2;
        grid-row: 2/2 ; }
#div5 { grid-column: 2 / 5;
        grid-row: 2/2 ; }
#div6 { grid-column: 5 / 6;
        grid-row: 2/2 ; }

#div7 { grid-column: 1 / 3;
        grid-row: 3/3 ; }
#div8 { grid-column: 3 / 4;
        grid-row: 3/3 ; }
#div9 { grid-column: 4 / 6;
        grid-row: 3/3 ; }

#div10 { grid-column: 1 / 2;
         grid-row: 4/4 ; }
#div11 { grid-column: 2 / 5;
         grid-row: 4/4 ; }
#div12 { grid-column: 5 / 6;
         grid-row: 4/4 ; }

#div13 { grid-column: 1 / 3;
         grid-row: 5/5 ; }
#div14 { grid-column: 3 / 4;
         grid-row: 5/5 ; }
#div15 { grid-column: 4 / 6;
         grid-row: 5/5 ;}

#div16 { grid-column: 1 / 2;
         grid-row: 6/6 ; }
#div17 { grid-column: 2 / 5;
         grid-row: 6/6; }
#div18 { grid-column: 5 / 6;
         grid-row: 6/6; }

#div19 { grid-column: 1 / 3;
         grid-row: 7/7; }
#div20 { grid-column: 4 / 6;
         grid-row: 7/7; }
