* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 762px;
    margin: 0 auto;
    border: 1px dashed black;
}

header {
    margin: 1.968503937007874%;
    border: 1px dashed black;
}

header img {
    width: 20%;
}


h1 {
    width: 19.6850393701%;
    position: relative;
    left: 20.9973753281%;
    bottom: 43px;
}

nav {
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black
}

nav li {
    display: inline;
    margin: 1.968503937007874%;
}

main {
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1PX dashed black;
}
footer{
    margin: 1.968503937007874%;
    padding: 1.968503937007874%;
    border: 1px dashed black;    
}
section img{
    width: 50%;
}


div{
    border: 1px dashed black;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    column-gap: 1.968503937007874%;
    row-gap: 0.59734891433668640%;
}



#div1 { grid-column: 1 / 3;
        grid-row: 1/2 ; }
#div2 { grid-column: 3 / 4;
        grid-row: 1/2 ; }
#div3 { grid-column: 4 / 6;
        grid-row: 1/2 ; }

#div4 { grid-column: 1 / 2;
        grid-row: 2/3 ; }
#div5 { grid-column: 2 / 5;
        grid-row: 2/3 ; }
#div6 { grid-column: 5 / 6;
        grid-row: 2/3 ; }

#div7 { grid-column: 1 / 3;
        grid-row: 3/4 ; }
#div8 { grid-column: 3 / 4;
        grid-row: 3/4 ; }
#div9 { grid-column: 4 / 6;
        grid-row: 3/4 ; }

#div10 { grid-column: 1 / 2;
        grid-row: 4/5 ; }
#div11 { grid-column: 2 / 5;
        grid-row: 4/5 ; }
#div12 { grid-column: 5 / 6;
        grid-row: 4/5 ; }

#div13 { grid-column: 1 / 3;
        grid-row: 5/6 ; }
#div14 { grid-column: 3 / 4;
        grid-row: 5/6 ; }
#div15 { grid-column: 4 / 6;
        grid-row: 5/6 ;}

#div16 { grid-column: 1 / 2;
        grid-row: 6/7 ; }
#div17 { grid-column: 2 / 5;
        grid-row: 6/7; }
#div18 { grid-column: 5 / 6;
        grid-row: 6/7; }

#div19 { grid-column: 1 / 3;
        grid-row: 7/8; }
#div20 { grid-column: 4 / 6;
        grid-row: 7/8; }
         
@media only screen and (max-width: 762px)
{
    section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(20, 1fr);
        row-gap: 15px;  
    }

    section div{
        grid-area: auto !important;
    }
}